.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.left-panel{
    grid-column: 1/2;
}

.main-content{
    grid-column:2/3 ;
}

.delete-project-icon{
    width: 20px;
}

.card-circle-unchecked, .card-circle-checked, .delete-task{
    width: 20px;
}